.ReactModalPortal .ReactModal__Overlay {
  // opacity: 0;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}


.ReactModal__Body--open {
  overflow: hidden;
}
.category-modal {
  background: $off-white;
  width: 130rem;
  max-width: 90%;
  color: #000;
  outline: none;
  padding: $l-size;
  position: relative;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  h1 {
    margin-bottom: $xl-size;
  }
  button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    font-size: 30px;
    // background: $brand-yellow;
    i {
      color: $brand-yellow;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      line-height: 1.5;
    }
  }
}

table {
  font-size: 1.4rem;
  width: 100%;
  border-spacing: 0 1rem;
}


th {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

td {
  font-family: Roboto, sans-serif;
}

th, td {
  vertical-align: top;
  padding: 1.5rem 1rem;
}

@media (max-width: 480px) {
  .category-modal__inner {
    h1 {
      font-size: 2.2rem;
    }
  }
  .category-modal {
    h1 {
      margin-bottom: 0.8rem;
    }
  }
  table {
    border-spacing: 0;
    font-size: 1.2rem;
  }
  th, td {
    padding: 1rem 0.4rem;
  }
}